/* Sign Up Page */

.signUpPage{
	background-image: url('/images/signUpBackground.jpg');
}

.signUp{
	border-left: 5px;
	border-color: #72664b;
	z-index: 1;
	float:right;
	background-color: #d3d3d3;
	padding: 20px;
	height: 100%;
	width: 25%;
	opacity: .7;
	margin-left: 10px;
}

.signUp h1{
	font-family: 'Cinzel Decorative';
	font-size: 40px;
	color: #000;
}

.signUp p{
	color: #000;
}

.signUp input[type='text']{
	border: 2px solid;
	border-color: #74787f;
	width: 80%;
	line-height: 150%;
	padding: 2px;
	border-radius: 5px;
}
.signUp input[type='email']{
	border: 2px solid;
	border-color: #74787f;
	width: 80%;
	line-height: 150%;
	padding: 2px;
	border-radius: 5px;
}

.signUp input[type='password']{
	border: 2px solid;
	border-color: #74787f;
	width: 80%;
	line-height: 150%;
	padding: 2px;
	border-radius: 5px;
}

.signUp input[type='submit']{
	width: 25%;
}
/* Login Page */

.loginPage{
background-image: url('/images/projectLoginBackground.jpg');
display: block;
}

/* .loginBackground{
	width: 100%;
	height: 100%;
	z-index: 0;
} */

.login p{
	font-family: 'Cinzel Decorative';
	font-size: 40px;
	color: #fff;
}

.login{
	border-left: 5px;
	border-color: #72664b;
	z-index: 1;
	float:right;
	background-color: #bab2a1;
	padding: 20px;
	height: 100%;
	width: 25%;
	opacity: .7;
	margin-left: 10px;
}

.loginText{
	text-align: center;
	opacity: none;
	color: #000;
}

/* Home Page */

.homePageBody{
	background-color: #f4eee1;
}
.homePageBackground{
	width: 100%;
	height: 300px;
}

.homePageHead{
	display: block;
}

.homePageBody h1{
	font-family: 'Give You Glory';
	font-size: 60px;
	text-align: center;
	color: #231a08;
}

.homePageBody h2{
	font-family: 'The Girl Next Door';
	text-align: center;
	color: #231a08;
	border-top: 2px solid;
	border-bottom: 2px solid;
	background-color: #f7f6f4;
}

.listsurveys p{
	text-align:center;
}

.listsurvey tr{
	border: 2px solid;
	border-color: #000;
}

/* questions form */

.backgroundImageSurveyPage{
	width: 100%;
	height: 200px;
	z-index: 1;
	margin: auto;
}

.formContainer{
	z-index: 2;
}

.questionPageBody h1{
	font-family: 'Paprika';
	color: #2d1605;
	font-weight: bolder;
	font-size: 50px;
}

.questionPageBody h2{
	font-family: 'Paprika';
	color: #634a38;;
}

.questionPageBody p{
	font-family: 'Nothing You Could Do';
}

.questionDisplay{
	text-align: center;
	background-color: #f7fcfc;
	border: 5px solid;
	border-color: #2d1605;
	border-radius: 10px;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	/*background-repeat: no-repeat;*/
}

.questionDisplay input[type='text']{
	border: none;
	border-bottom: 2px solid;
	border-color: #2d1605;
	width: 80%;
	line-height: 150%;
	padding: 2px;
	border-radius: 5px;
}
.questionDisplay input[type='text']:focus{
	outline: none;
}

.questionDisplay input[type='submit']:hover{
	background: #634a38;
	border: 2px solid;
	border-color: #2d1605;
	color: #fff;
}

.questionDisplay input[type='submit']{
	font-family: 'Nothing You Could Do';
	border: 2px solid;
	border-color: #2d1605;
	text-align: center;
}

/* Profile Page */

#profileContainer{
	/* background-color: #6c2896; */
	/* background-color: #753e3e; */
	/* background-color: #3e753e; */
	background-color: #3e6175;
	/* background-color:#8c6d27 */
}

.profileImage{
	height:300px;
	width: 100%;
}

#profileContainer h1{
	font-family: 'Peralta';
	color: #fff;
	border-bottom: 2px solid white;
	text-align: center;
}

#informationContainer{
	display: flex;
}

#informationContainer:after{
	flex: none;
}

#informationContainer p{
	font-family: 'Poiret One';
	color: #fff;
}

.sectionOne{
	float: left;
	flex: 30%;
}

.sectionTwo{
	float: center;
	flex: 30%;
}

.sectionThree{
	float: right;
flex: 30%;
}

.logOutFooter p{
	font-family: 'Poiret One';
	color: #fff;
}

.logOutFooter a{
	color: #000;
}

.logOutFooter a:hover{
	color: #fff;
}
