.mainPageContent{
	/* background-image:url('/images/backdrop2.jpg'); */
	height: auto;
	margin-top: 0px;
	padding-top: 10px;
}
.mainTopNav {
    background-color: #052455;
    overflow: hidden;
		margin-bottom: 0;
}

.mainTopNav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.mainTopNav a:hover {
    background-color: #c2bda2;
    color: black;
}

.mainTopNav a.active {
    background-color: #4CAF50;
    color: white;
}

.mainSectionOne{
	background-image: url('/images/wixbackground.jpg');
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0;
	margin-bottom: 0px;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
}
.picOfNadia{
	width:300px;
	height:385px;
	float:left;
	display:inline;
	border: 5px solid #fff;
	border-radius: 5px;
	margin-right: 5px;
}
.portionAboutMe{
	float: left;
	max-width: 35%;
	color: #052455;
	font-family: 'Raleway Dots';
}

.portionAboutMe h2{
	font-size: 35px;
	padding-bottom: 8px;
	border-bottom: 2px solid;
	border-color: #052455;
}

.portionAboutMe p{
	font-size: 20px;
}

.mainPageTitle{
	text-align:left;
	color:#fff;
	background-color:#a1c1f4;
	font-size: 50px;
	display: block;
	margin-bottom: 0;
	font-family: 'Ribeye';
	padding-left: 5px;
}

#Container{
	/* margin-left: 200px;
	margin-bottom: 10px; */
}
.Container2{
	background-color: #fff;
	margin-top: auto;
	text-align: center;

}

.tagHeader{
	background-color: #a1c1f4;
	color: #fff;
}
.background{
	width: 100%;
	height: 200px;
}

.blogTitleMainPg a{
	color: #052455;;
	font-family: 'Raleway Dots';
	font-size: 30px;
	font-weight: bolder;
}

.blogTable{
	display: table;
	margin: 0 auto;
}

.blogTitles{
 text-align: center;
 display: inline;
 padding-top: 20px;
}

 .blogTitles li{
	display: inline;
}

.blogTitles li + li{
	border-left: 2px solid;
	border-color: #052455;
	display: inline-block;
}
/*
.blogTitles{
	text-align:center;
	background-color: #fff;
	margin-top: 0;
	margin-left: 180px;
	float: right;
	z-index: 0
}  */

.myBLogHeading{
	color: #fff;
	background-color: #052455;
	font-family: 'Ribeye';
	font-size: 35px;
	padding: 10px;
	text-align: center;
}

.blogPage{
	text-align: center;
}

.blogTitleMainPg a:hover{
	color: #c2bda2;
}

.blogTitleMainPg{
	color: #052455;
}
.blogTitleMainPg{
	margin-top: 10px;
	display: inline-block;
	margin:auto;
}

.tagSideNav{
	display: inline-block;
	/* position: fixed; */
	width: 180px;
	float: left;
	z-index: 1;
}
.tagTable table{
	margin: auto;
}

/* .tagTable tr{
	border: 3px solid;
	border-color: #052455;
	border-radius: 5px;
	display: inline-block;
	padding: 10px;
	background-color: #eee;
} */

.dialogbox .body {
  position: relative;
  max-width: 75%;
  /* height: auto;*/
  margin-bottom: 10px;
  /* padding: 5px; */
  background-color: #fff;
  border-radius: 3px;
  border: 5px solid;
	border-color: #052455;
}

.body .commentBox{
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 20px;
  color: #23262b;
}

.tipUp{
	width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid;
	border-color: #052455;
	}
.tip{
	top: -25px; Same as body margin top + border
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}



.commentForm{
	border: 8px solid;
	border-color: #052455;
	background-color: #fff;
	padding: 5px 20px 20px 20px;
	width: 50%;
	height: auto;
	display: block;
	margin: auto;
}

.commentForm h2{
	border-bottom: 2px solid;
}


.formContents{
	margin:auto;
	text-align: center;
}

#submitButton{
	background-color: #5779af;
	color: #fff;
}

.commentForm h2{
	text-align: center;
	color: #052455;
}
.searchenginepg{
	font-size: 70px;
	color: #fff;
	background-color: #052455;
	text-align: center;
	margin-top: 0;
}

.blogDate{
	text-align: center;
}

.pic{
	height: auto;
	width:50%;
	margin-left: auto;
	margin-right: auto;
	display: block;

}

.blogText{
	font-size: 20px;
	text-align: center;
}

.blogTitle{
	font-size: 50px;
	color: #fff;
	background-color: #f5a29d;
	text-align: center;
	margin-top: 0;
}

/*Resume style






*/


.resumeTable th{
	/*text-align:center;*/
	color:#fff;
	font-size: 22px;
	background-color: #0a2e68;
}

.resumeBody{
	background-color: #fff
}

.resumeTable li{
	text-align: center;
	list-style-position: inside;
}

.resumeTitle{
	text-align:center;
	background-color:#82a6e0;
	color:#fff;
	font-size: 40px;
}

.resumeTable{
	background-color:#eee;
	align:center;
	margin:auto;
	border: 1px solid;
	border-radius: 5px;
}

/* projects page style*/

.projectsBody{
	background-color: #0a2e68
}

.projectsTitle{
	text-align: center;
	color: #fff;
}

.projectsDate{
	color: #fff;
	text-align: center;
}

.projectsText{
	background-color: #fff;
	font-size: 60px;
	text-align: center;
	border-radius: 40px;
}

/*about me page style*/

.aboutMeTitle{
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-family: 'Alegreya SC';
	border-radius: 20px;

}

.aboutMeDate{
	background-color: #337c2f;
	text-align: center;
	font-family: 'Alegreya SC';
}

.aboutMeBody{
	background-image: url('/images/Backdrop.jpg');
}

.education{
	text-align: center;
	font-size: 40px;
	background-color: #fff;
	float: left;
	display: inline;
	border-radius: 20px;
	width: 50%;
	font-family: 'Alegreya Sans';
}

.youth{
	background-color: #fff;
	text-align: center;
	margin:auto;
	float:right;
	display: inline;
	width: 50%;
	font-size: 40px;
	border-radius: 20px;
	font-family: 'Alegreya Sans';
}

.aboutMeGrowingUp{
	margin:auto;
	border-style: groove;
	border: 5px;
	border-color: #774710;
	border-radius: 50px;
	overflow: auto;
}

.aboutMyEducation{
	overflow: auto;
}

/*my interests page*/
/* .javaTest{
	display: none;
} */

.backDrop{
	background: black;
	height: 200px;
	width: 100%;
	position: absolute;
	z-index: 0;
}

.beeBackground{
	width: 100%;
	z-index: -1;
	height:400px;
	position: absolute;
}

.myInterests{
	font-family: 'Barrio';
	font-size: 80px;
	color:#fff;
	text-align: center;
	position: relative;
	z-index: 2;
}

.announcement{
	font-family: 'Barrio';
	font-size: 100px;
	background-color: #fff;
	color: #fcce16;
	border-color: #fcce16;
	text-align: center;
	border: 5px dashed;
}

.bee{
	float:center;
	width:300px;
	height:200px;
}

.lyrics{
	font-family: 'Delius Unicase';
	font-size: 50px;
	background-color: #fcce16;
	text-align: center;
	color: #fff;
	width: 1000px;
	height:auto;
	padding: 5px 5px 5px 5px;
}

.beyBody{
	display: flex;
	align-items: center;
	margin-bottom: auto;
}

.bee2{
	height:200px;
}

.concertAnnounce{
	margin:auto;
	font-size: 22px;
	padding: 20px 20px 32px 20px;
	width: 300px;
	text-align: center;
	background-color: #fff;
	border: 8px solid #fcce16;
	border-radius: 30px;
	margin-top: auto;
	font-family: 'Barrio';
	position: relative;
}

.concertAnnounce:before{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 100px;
	border: 25px solid;
	border-color: #fcce16 transparent transparent #fcce16;
}

.concertAnnounce:after{
	content: ' ';
	 position: absolute;
	 width: 0;
	 height: 0;
	 left: 38px;
	 top: 100px;
	 border: 15px solid;
	 border-color: #fff transparent transparent #fff;
}

/* Tags */

.tagTitle{
	display: block;
	text-align: center;
	background-color: #052455;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
}

.blogListingUnderTag{
	text-align: center;
}

.blogListingUnderTag a{
	color: #052455;
}

.blogListingUnderTag a:hover{
	color: #c2bda2;
}

.tagTopNav {
    background-color: #c2bda2;
    overflow: hidden;
		margin-bottom: 0;
}
#homeButton{
	float:left;
}
.tagTopNav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.tagTopNav a:hover {
    background-color: #052455;
    color: white;
}

.tagTopNav a.active {
    background-color: #4CAF50;
    color: white;
}
