h1{
			font-family: 'Barrio';
			font-size: 80px;
			color:#fff;
			text-align: center;
}

.Announcement{
	font-family: 'Barrio';
	font-size: 100px;
	background-color: #fff;
	color: #fcce16;
	border-color: #fcce16;
	text-align: center;
	border: 5px dashed;
}

.Bee{
	float:center;
	width:300px;
	height:200px;
}

.lyrics{
	font-family: 'Delius Unicase';
	font-size: 50px;
	background-color: #fcce16;
	text-align: center;
	color: #fff;
	height: 200px;
}

.main{
	display: flex;
	align-items: center;
	position:fixed;
	height:
}

.Bee2{
	height:200px;
}
