.header{
	text-align:center;
	color:#fff;
	font-size: 22px
}

body{
	background-color: #fff
}

th{
	background-color: #0a2e68;
}

ul{
	text-align: center;
	list-style-position: inside;
}

h1{
	text-align:center;
	background-color:#82a6e0;
	color:#fff;
	font-size: 40px;
}

table{
	background-color:#eee;
	align:center;
	margin:auto;
	border: 1px solid;
	border-radius: 5px;
}
