.tableHeader{
	text-align:center;
	color:#141817;
	font-size: 50px;
	background-color: #fff;
	border-bottom-style:dashed;
	border-bottom-color:#0a2e68;
}

table{
	height:100px;
	width:400px;
	border-style:solid;
	Border-color:#0a2e68;
	border-radius: 10px;
	margin-bottom: 30px
}

tr{
	background-color:#b2ccf4
}

.Moreinfo{
	background-color:#b2ccf4;
	text-align:center;
}

h1{
	text-align:center;
	color:#fff;
	font-size: 80px;
	display: block;
	padding-bottom: 10px;
	background-color: #0a2e68;
}

.footer{
	position:fixed;
	background-color:#0a2e68;
	color:#fff;
	font-size: 22px;
	text-align: center;
}

body{
	background-image:url('wood.jpg');
}

.maincontent{
	width:300px;
	height:380px;
	margin:auto;
	padding-left: 80px;
	padding-right: 20px;

	float:left; display:inline;
}
