.aboutMeTitle{
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-family: 'Alegreya SC';
	border-radius: 20px;

}

.aboutMeDate{
	background-color: #337c2f;
	text-align: center;
	font-family: 'Alegreya SC';
}

.aboutMeBody{
	background-image: url('images/Backdrop.jpg');
}

.education{
	text-align: center;
	font-size: 40px;
	background-color: #fff;
	float: left;
	display: inline;
	border-radius: 20px;
	width: 50%;
	font-family: 'Alegreya Sans';
}

.youth{
	background-color: #fff;
	text-align: center;
	margin:auto;
	float:right;
	display: inline;
	width: 50%;
	font-size: 40px;
	border-radius: 20px;
	font-family: 'Alegreya Sans';
}

.aboutMeGrowingUp{
	margin:auto;
	border-style: groove;
	border: 5px;
	border-color: #774710;
	border-radius: 50px;
	overflow: auto;
}

.aboutMyEducation{
	overflow: auto;
}
