<html>
	<head>
		<link rel="stylesheet" href="/Resume2019/Include/resumesStyle.css">
		<link href='https://fonts.googleapis.com/css?family=Gafata' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Italiana' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Tenali Ramakrishna' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Julius Sans One' rel='stylesheet'>
		<title> Nadia's Resume </title>
	</head>
	<body>
		<div id="textHeadContainer">
			<h1> Nadia's Resume</h1>
			<nav>
				<div class="navContent">
						<a href='#objective'> Objective</a>
						<a href='#experience'"> My Experience</a>
						<a href='#extracurriculars'"> Outside the Classroom</a>
						<a href='#upcoming'"> See What's Next</a>
				</div>
			</nav>
		</div>
		<div class="row"/>
		<div class="leftColumn">
			<article class="card" id="education">
				<h2> Education </h2>
					<h3> Washington University in St. Louis </h3>
				<p> resume content here </p>
				<p> resume content here </p>
				<p> resume content here </p>
			</article>
			<article class="card" id="objective">
				<h2> Objective </h2>
					<p> I created this website because......... Lorem ipsum etc etc </p>
			</article>
		</div>
		<div class="row"/>
		<div class="rightColumn">
			<article class="card" id="experience">
				<h2> Experience </h2>
					<h3> CheckTheQ </h3>
					<ul>
						<li> resume content here </li>
						<li> resume content here </li>
						<li> resume content here </li>
						<li> resume content here </li>
					</ul>
					<h3> Less Annoying CRM </h3>
					<ul>
						<li> resume content here </li>
						<li> resume content here </li>
						<li> resume content here </li>
						<li> resume content here </li>
					</ul>
					<h3> Edison Theatre</h3>
					<ul>
						<li> resume content here </li>
						<li> resume content here </li>
						<li> resume content here </li>
						<li> resume content here </li>
					</ul>
					<h3> Memphis Zoo </h3>
					<ul>
						<li> resume content here </li>
						<li> resume content here </li>
						<li> resume content here </li>
						<li> resume content here </li>
					</ul>
			</article>
			<div class="row"/>
			<article class="card" id="extracurriculars">
				<h2> Extracurriculars </h2>
				<h3> Mosaic Whispers </h3>
				<h3> City Faces </h3>
			</article>
			<div class="row"/>
			<article class="card" id="upcoming">
				<h2> Come Back Later to Learn more about</h2>
				<h3> TA Managerial Accounting  </h3>
				<h3> Corporate Relations intern with WCC</h3>
				<h3> Front end development with Savvy Coders</h3>
			</article>

		</div>
	</body>
</html>
