
#textHeadContainer{
	/* margin-top: 10px; */
	/* text-align: center; */
}

#textHeadContainer h1{
	color: #fff;
	font-family: 'Italiana';
	font-size: 55px;
	padding: 20px;
	border-top: 2px inset #dfe4e8;
	border-left: 2px inset #dfe4e8;
	/* display: inline-block; /* makes the border fit the text */ */
	/* margin-left: auto;
	margin-right: auto; */
	margin-bottom: auto;
	/* padding-left: 5px;
	padding-right: 5px; */
	/* border-radius: 5px; */
}

.outer {
  width: 1px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.inner {
  position: absolute;
  width:100%;
  height: 40%;
  background: grey;
  top: 30%;
  box-shadow: 0px 0px 30px 20px grey;
}

/* startResume Style specifics */

body {
  background: #dfe4e8;
}

.leftColumn{
	float: left;
  width: 24%;
}

.leftColumn h2{
		font-family: 'Julius Sans One';
		margin-top: 10px;
		border-bottom: 5px solid #dfe4e8;
}

.leftColumn .card{
	border-style: outset;
}

.rightcolumn {
  float: right;
  width: 75%;
  /* padding-left: 20px; */
}

.rightcolumn h2{
		font-family: 'Julius Sans One';
		margin-top: 10px;
		border-bottom: 5px solid #dfe4e8;

}

.rightcolumn .card{
		border-style: outset;

}

h3{
	font-family: 'Julius Sans One';
}

li{
	font-family: 'Gruppo';
}

p{
	font-family: 'Gruppo';
}

.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* .card p{
	padding-right: 10px;
} */


.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
